
@{
    ViewData["Title"] = "Задание на сервере создано";
    Layout = "_Layout";
}

<h2>Создание вашей статистики было запущено на сервере.<br/> Пожалуйста, проверьте вкладку результаты через несколько минут</h2>

